@tailwind base;
@tailwind components;
@tailwind utilities;
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

* {
  --bg-color: #f1f5f9;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
.datepicker-container {
  @apply mx-auto bg-slate-100 w-fit min-w-[18em] p-0 border border-solid border-gray-200 rounded shadow-[0_0_10px_black];
}

.datepicker-header {
  @apply grid items-center grid-cols-5 border-b border-gray-200;
}

.datepicker-header button {
  @apply px-3 py-2 bg-gray-100 border-none rounded-sm cursor-pointer;
}

.datepicker-header button:hover {
  @apply bg-gray-300;
}

.datepicker-header-prev {
  @apply col-span-1;
}

.datepicker-header-next {
  @apply col-span-1 col-start-5;
}

.datepicker-header-control {
  @apply col-span-3;
}

.datepicker-body {
  padding: 10px;
  @apply grid grid-cols-1;
}

.datepicker-weekdays {
  @apply grid items-center w-full grid-cols-7 gap-2 p-1 border-b border-b-white;
}

.datepicker-weekdays span {
  @apply text-center;
}

.datepicker-days {
  @apply grid items-center w-full grid-cols-7 gap-2 py-2 border-b border-b-white;
}

.datepicker-days div {
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  @apply font-semibold;
}

.datepicker-days div:hover {
  background-color: #ccc;
}

.datepicker-days div.active {
  @apply text-white bg-blue-800;
  color: #fff;
}

.datepicker-day {
  @apply !rounded-full !w-[35px] !h-[35px];
}

.datepicker-day:has(.active) {
  @apply !block !rounded-full !w-[35px] !h-[35px] bg-blue-600 !text-white;
}

.datepicker-day:has(.active):hover {
  @apply bg-blue-400;
}
.datepicker-day:has(.semiActive) {
  @apply !block !rounded-full !w-[35px] !h-[35px] bg-blue-200 text-gray-200;
}
.datepicker-day:has(.disabled) {
  @apply !block !rounded-full !w-[35px] !h-[35px] text-gray-200;
}

/**** */
.timepicker-container {
  @apply grid grid-cols-3 gap-2 p-3 mx-auto w-fit;
}

.timepicker-container input {
  @apply rounded-md w-10 p-2 !appearance-none mx-auto block text-center shadow-sm !outline-none border border-gray-500;
}

.timepicker-container button {
  @apply rounded-md w-8 my-2 text-blue-800 bg-gray-50 bg-neutral-400  !appearance-none mx-auto block text-center shadow-md !outline-none;
}

/****/

.datepicker-years {
  @apply grid items-center w-full grid-cols-3 gap-2 py-2 border-b border-b-white;
}

.datepicker-years div {
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  @apply font-semibold;
}

.datepicker-year:hover {
  @apply !rounded-full  bg-blue-200 !text-white;
}

.datepicker-year:has(.active) {
  @apply !rounded-full  bg-blue-600 !text-white;
}

.datepicker-year:has(.active):hover {
  @apply bg-blue-400;
}

/****/
.datepicker-months {
  @apply grid items-center w-full grid-cols-3 gap-2 py-2 border-b border-b-white;
}

.datepicker-months div {
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  @apply text-sm font-semibold text-center;
}

.datepicker-month:hover {
  @apply !rounded-full  bg-blue-200 !text-white;
}

.datepicker-month:has(.active) {
  @apply !rounded-full  bg-blue-600 !text-white;
}

.datepicker-month:has(.active):hover {
  @apply bg-blue-400;
}

/** 
*/
/* width */
.datepicker-container{
  ::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
}